html, body, body > div, .App {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }


.login-card{
    background-color: white;
    width: 100%;
    height: 492px;
    margin-top: 75px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.2);
}
.login-page .login-card .welcome {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #000428,#004e92 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #000428,#004e92 ); 
    padding: 100px 30px 100px 100px;
}
.login-page .login-card .card{
    background-color: white;
    padding: 20px 40px;
}
.login-page .login-card .welcome .greet{
    font-weight: lighter;
    font-size: 40px;
    color: white;
}
.login-page .login-card .welcome .title{
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
}
.login-page .login-card .welcome p{
    color: white;
    font-size: 15px;
}
.login-page .login-card .welcome .tutorial{
    color: white;
    padding: 10px 25px;
    background-color: #004e92 ;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}
.login-page .login-card .card .login-btn{
    color: white;
    padding: 10px 25px;
    background-color: #004e92 ;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
}
.login-page .login-card .welcome a{
    text-decoration: none;
}
.login-page .login-card .card .input{
    margin-bottom: 10px;
    padding: 8px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #004e92;
    outline: none;
    width: 100%;
    color: #004e92;
}
.login-page .login-card .card h3, .login-page .login-card .card h2{
    color: #004e92;
}
.login-page .login-card .card h2 {
    display: none;
}
.login-page .login-card .card img{
    width: 130px;
}
.login-page .login-card .card input{
    border:2px solid #004e92;
}
@media only screen and (max-width: 768px) {
    .login-page .login-card .card h2 {
      display: block;
    }
    .login-page .login-card .welcome {
        display: none;
    }
    .login-page .login-card {
        margin-top: 0;
        /* margin: 20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
        height: 570px;
    }
  }
/* Login page closes */



